@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

.book-card {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Akshar", sans-serif;
    font-optical-sizing: auto;

    h3 {
        font-size: smaller;
        color: black;
        font-weight: 500;
    }

    li {
        font-size: small;
        margin: 0px;
        padding: 3px;
        color: black;
        text-align: left;
        border-top-style: solid;
        border-color: gray;
        font-weight: 400;
    }

    a {
        background-color: #cddfff;
        border-radius: 2rem;
        font-weight: 600;
        color: #646cff;
        text-decoration: inherit;
        padding: 1rem;
        margin-top: auto;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            transform: scale(1.05);
            background-color: #b0d4ff;
        }
    }
}

.book-card img {
    color: black;
    width: 100%;
    height: auto;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

